<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >Welcome to Belgian Waffle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>


<table style="width:100%; border:2px solid #51362a; padding:10px; border-radius: 6px; box-shadow: 1px 4px 20px #000; margin:30px auto; max-width:500px; color: #51362a;">
    <thead>
    <th><img src="http://bhawani.hocrx.com/waffle_logo.png" class="logo"  style="width: 100px;"/><p style="font-size: 25px;">Account Created</p></th>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                Dear <span style="font-size: 20px; color: #f4af3e;" class="key" th:text="${user.fullName}"> Hurli</span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                Your Belgian Waffle account has been created, below are your credentials
            </p>
            <p> Your credentials are :</p>
        </td>
    </tr>
    <tr>
        <td>
            <p  style="font-size: 20px; color: #f4af3e;"> username : <span class="key" th:text="${user.login}">Olala</span></p>
            <p  style="font-size: 20px; color: #f4af3e;"> password : <span  class="key" th:text="${password}">Tuchabi</span> </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-top: 35px;" class="regards">
                <span >Regards, </span>
                <br/>
                <em>Belgian Waffle Support Team.</em>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
