<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Belgian Waffle password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>


<table style="width:100%; border:2px solid #51362a; padding:10px; border-radius: 6px; box-shadow: 1px 4px 20px #000; margin:30px auto; max-width:500px; color: #51362a;">
    <thead>
    <th><img src="http://bhawani.hocrx.com/waffle_logo.png" class="logo"  style="width: 100px;"/><p style="font-size: 25px;">Password Assistance</p></th>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                Dear <span style="font-size: 20px; color: #f4af3e;" class="key" th:text="${user.fullName}">Shurli</span>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                For your Belgian Waffle account, a password reset was requested, below is the password reset key:
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-size: 20px; color: #f4af3e;"  class="key" th:text="${user.resetKey}">
                JHJK789HJ
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-top: 35px;" class="regards">
                <span >Regards, </span>
                <br/>
                <em>Belgian Waffle Support Team.</em>
            </p>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
